body{
    background-color: #6091ad;
}
.col--trafic{
    background-color: white;
}
.col--lines .hour{
    background-color: black;
    color: #ffff00;
}
.blink{
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
    50%{
        opacity: 0;
    }
}
.lines div{
    background-color: white;
    padding: 10px;
}

.lines--works {
    background-color: #ffff00 !important;
}
.lines--critical {
    background-color: #ffff00 !important;
}
